// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//SweetAlert2
@import '~sweetalert2/src/sweetalert2.scss';

//FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';


text-white {
  color: white;
}

p, label, ul{
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.ck-editor__editable_inline {
  min-height: 250px;
}

#video_element {
  width: 800;
  height: 600;
  background-color: #000;
}